body{
background-color:   rgb(87, 45, 17);
}

ol {
    list-style-type: none;
    padding: 0;
    margin: 0;
    font-size: 18px;
    height: 2em;
    line-height: 2em;
    text-align: center;
    background-color:orange;
}
ol > li {
    float:left;
    width: 33%;
    background-color: orange;
    margin-left: 1px;
    border-radius:20px;
}
ol > li:first-child {
    margin-left: 0;
}
ol a{
    display: block;
    color: #000;
    text-decoration: none;
    padding: 0 5px;
}
ol > li > ul > li > a {
    border-top:1px solid #FFF;
}
ol > li > ul > li {
    background-color:#EEE;
}
  
ol > li > ul > li:hover {
    background-color:#DDD;
    border-radius:20px;
}
  
ol > li > ul > li:hover a {
    color:#09C;
}
.lewy{
    float: left;
}
.prawy{
    margin-left: 5px;
}
ol > li > ul {
    display:none;
}
  
ol > li:hover > ul {
    display:block;
    
}
#glowny {
    border-radius: 20px;
    height: 500px;
    width: 500px;
}

#logowanie{
    position: absolute;
    left: 45%;
    top: 40%;
    display: none;
    height: 250px;
    width: 200px;
    border-style: solid;
    border-radius: 5px;
    border-color: grey;
    box-shadow: 2px 2px grey;
    background-color: rgb(168, 167, 167);
}
.oknolog {
padding: 20px;
}
.srodek {
    min-width: 481px;
    display: flex;
    flex-wrap: wrap;
}
.srodek > div {
    flex: 1 1 150px;

}

.pasek{
    height: 120px;
    clear: both;
}
footer{
    bottom: 0px;
    color: white;
}